nav.b-breadcrumb.container.is-fullhd
  ul._list
    each item, index in data.breadcrumbs
      li._item(class= (data.breadcrumbs.length === index + 1) ? 'breadcrumb__item--last is-active' : false )
        a(href=item.href)= item.text