ul.b-pagination.level-left.mb-0
  .level-item
    li._item
      a(href="#")._link.pagination-previous= '<'
    - let n = 1
    while n < 3
      li._item
        a(href="#")._link.pagination-link= n++
    li._item
      a(href="#" disabled)._link.pagination-next= '>'