
meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
title #{data.page_meta.title}
meta(name="keywords" content=`${data.page_meta.meta_keywords}`)
meta(name="description" content=`${data.page_meta.meta_description}`)