doctype html
html
  head
  include components/head/head.pug
  body
  include components/header/header.pug

  mixin list(items)
    ul.breadcrumbs
      each item, index in items
        li._item(class= (items.length === index + 1) ? 'breadcrumbs__item--last' : false )
          a(href=item.href)= item.text

  +list(data.breadcrumbs)

    aside
      form.form-search(action="#")
        p._result 26 Results Found
        formfield



