doctype html
html
  head
    include components/head/head
  body.has-background-grey-lighter
    include components/header/header

    include components/breadcrumb/breadcrumb

  main.container.is-flex.is-justify-content-space-between
    aside.section.is-medium
      include components/form-search/form-search

    section.product.section
      h2.title.is-3 #{data.page_meta.h1}
      include components/pagination/pagination

      .sort
        p._title Sort by
        select(size="1" name="Sort options")._input
          option(disabled selected) Sort options
          option(value="track") Track

      include components/card/card






