doctype html
html
  head
    include components/head/head
  body.has-background-grey-lighter
    - let n
    include components/header/header

    include components/breadcrumb/breadcrumb

    main.is-flex.is-justify-content-space-between.container.is-fullhd
      section.flex-wrapper.is-flex
        include components/form-search/form-search

        section.container
          h2.title.is-4 #{data.page_meta.h1}

          .level.mb-5
            include components/pagination/pagination
            include components/sort/sort

          include components/card/card

          .level.mb-5.mt-5
            include components/pagination/pagination
            include components/sort/sort

          article.mb-5
            each content in data.page_text
              p.content #{content.content}

    include components/footer/footer






