.form-search {
  width: 35%;
  margin-right: 2em;
  padding: 1em 1em;
  background-color: $white;
  line-height: 0;

  &__field {
    display:  block;
  }

  &__result {
    padding-bottom: 1em;
    font-weight: 500;
    border-bottom: 1px solid $border;
  }

  &__legend {
    padding: 1em 0 0.5em;
    border: none;
    display: flex;
    justify-content: space-between;
  }

  &__dropdown-menu {
    position: static;
  }

  &__label {
    padding: 3px 0;
  }

  &__checkbox-item,
  &__radio-item {
    position: relative;
    z-index: 0;
    -webkit-appearance: none;

    & + label::before {
      width: 1em;
      height: 1em;
      border: 1px solid $primary;
      content: "";
      display: inline-block;
      margin-right: 5px;
      position: relative;
      top: 2px;
    }
  }

  &__checkbox-item {
    &:checked + label::before {
      background-color: $primary;
    }

    &:checked + label::after {
      content: "\2713";
      color: $white;
      position: absolute;
      left: 2px;
    }
  }

  &__radio-item {
    & + label::before {
      border-radius: 50%;
    }

    &:checked + label::before {
      background-color: $primary;
      box-shadow: inset 0 0 0 0.1em $white;
    }
  }

  .radio {
    margin-left: 0em;
  }
}