header.header
  h1.title.is-3 #{data.page_meta.h1}
  img(src="src/public/images/header.jpg", alt="logo")._logo
  nav(role="navigation" aria-label="main navigation").navbar
      ul._menu
          each item in data.nav
            li._item
              a(href=item.href) #{item.text}